<?xml version="1.0"  encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.badou.senior.producer.mapper.DepartmentMapper">
	
	
	<resultMap type="com.badou.senior.producer.entity.Department" id="deptRM">
		<id property="deptId" column="dept_id" />
		<result property="deptName" column="dept_name" />
		<result property="description" column="description" />
	</resultMap>
	
	<insert id="createDept">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="deptId" keyColumn="dept_id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into tbl_department(dept_name,description) values(#{deptName},#{description})
	</insert>
	
</mapper>